@{
    ViewBag.Title = "Contact Us";
    ViewBag.Message = "You can reach us via the following information:";
}
<h2>@ViewBag.Title.</h2>
<h4>@ViewBag.Message</h4>

<address>
    Waylon Ching<br />
    <abbr title="Email">E:</abbr>
    waylonching@fakeemail.com<br /><br />
    Rei Ruiz<br />
    <abbr title="Email">E:</abbr>
    reiruiz@fakeemail.com<br />
</address>
