@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <img src="http://www.lmyc.ca/sites/all/themes/lmyc/images/logo.png" />
    <h2 class="welcome-msg">WELCOME TO LMYC ORGANIZATION</h2>
    <p style="margin: 30px 10px;">
        The Lower Mainland Yacht Cooperative (LMYC) is a provincially registered and regulated non-profit organization, which is owned and operated by its members. LMYC is governed by the British Columbia Co-operative Act. The mission and purpose of the Lower Mainland Yacht co-op is to promote Affordable, Safe and Enjoyable recreational sailing. As a co-op, it is possible to provide boats, equipment and sailing skill development at a fraction of the cost of any
    </p>
</div>
