<h2>Existing Reservations</h2><br />

<table *ngIf="borrows" border="1">
  <thead>
    <tr>
      <th>Borrow Id</th>
      <th>Borrower Name</th>
      <th>Start Date Time</th>
      <th>End Date Time</th>
      <th>Boat Id</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let b of borrows; let i=index;">
      <td>{{b.borrowId}}</td>
      <td>{{b.borrowerName}}</td>
      <td>{{b.startDateTime}}</td>
      <td>{{b.endDateTime}}</td>
      <td>{{b.boatId}}</td>
    </tr>
  </tbody>
</table><br />

<h2>Create Reservation</h2><br />

<form (ngSubmit)="createReservation()">
  <table>
    <tr>
      <td>Borrower Name:</td>
      <td><input type="text" [(ngModel)]="borrow.BorrowerName" name="borrowerName" style="width: 150px" /></td>
    </tr>
    <tr>
      <td>Start Date Time:</td>
      <td><input type="date" [(ngModel)]="borrow.StartDateTime" name="startDateTime" style="width: 150px" /></td>
    </tr>
    <tr>
      <td>End Date Time:</td>
      <td><input type="date" [(ngModel)]="borrow.EndDateTime" name="endDateTime" style="width: 150px" /></td>
    </tr>
    <tr>
      <td>Boat Id:</td>
      <td><input type="number" [(ngModel)]="borrow.BoatId" name="boatId" style="width: 150px" /></td>
    </tr>
  </table><br />
  <button>Create Reservation</button>
</form>
