<table *ngIf="boats" border="1">
  <thead>
    <tr>
      <th>Boat ID</th>
      <th>Boat Name</th>
      <th>Picture</th>
      <th>Length In Feet</th>
      <th>Make</th>
      <th>Year</th>
      <th>Record Creation Date</th>
      <th>Created By</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let b of boats; let i=index;">
      <td>{{b.boatId}}</td>
      <td>{{b.boatName}}</td>
      <td><img src="{{b.picture}}" alt="{{b.BoatName}}" /></td>
      <td>{{b.lengthInFeet}}</td>
      <td>{{b.make}}</td>
      <td>{{b.year}}</td>
      <td>{{b.recordCreationDate}}</td>
      <td>{{b.createdBy}}</td>
    </tr>
  </tbody>
</table>